body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}
h1 {
    color: #333;
}
form {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
input[type="file"] {
    width: 99%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color:  #ff9409;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #d17c0e;
}
.footer {
    margin-top: 20px;
    text-align: center;
    color: #666;
}