.wrapper2,
.wrapper1,
.wrapper {
    max-width: 900px;
    margin: 15px auto;
    margin-top: 7rem;
    padding: 0 15px;
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Add space between the items */
    color: white;
}

.wrapper h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Protest Guerrilla', sans-serif;
    color: white;
    border-bottom: 4px solid #ff9409;
}

.wrapper1 h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Protest Guerrilla', sans-serif;
    color: white;
    font-weight : 300;
}

.wrapper1 {
    margin-top: 2rem !important;
}

.wrapper2 {
    margin-top: 2rem !important;
}

.wrapper2 h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Protest Guerrilla', sans-serif;
    color: white;
    font-weight : 300;
}


form {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"],
input[type="url"],
input[type="number"],
textarea,
select {
    width: 99%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}

@media (max-width: 1200px) {  
    .wrapper2,
    .wrapper1,
    .wrapper {
        width: 700px;
        
    }

}