
.main-container2 {
    display: flex;
    flex-direction: column; /* Stack .wrapper and .swrapper vertically */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    padding: 1.5rem; /* Optional padding around the main container */
    margin: 0 auto; /* Center the main container within the page */
    margin-top: 4rem;
    width: 100%; /* Make it span the full width of the page */
}


/* Container to wrap both first and second containers */
.wrapper {
    display: flex;
    justify-content: center; /* Keep containers aligned to the left */
    align-items: flex-start; /* Align them at the top */
    gap: 1.2rem; /* Control the space between the two containers */
}

.first-container {
    width: 40rem; /* Fixed width */
    height: 100px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.second-container {
    width: 30rem; /* Fixed width */
    height: 380px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.swrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem;
    position: relative; /* Allows shifting from its original position */
    top: -18.6rem; /* Moves the .swrapper down by 20px */
    left: -15.5rem; /* Moves the .swrapper to the right by 50px */
    z-index: -1;
}


.third-container, .fourth-container {
    width: 19.5rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.sixthwrapper,
.fwrapper,
.twrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem;
    position: relative; /* Allows shifting from its original position */
    top: -21.7rem; /* Moves the .swrapper down by 20px */
    z-index: 1;
}

.fwrapper {
    top : -24.5rem !important;
    left: 0.5rem !important;
}

.seventh-container {
    width: 71.4rem;
    height: 400px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}
 

.ninth-containe,
.fifth-container {
    width: 19.5rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.ninth-containe{
    width: 20rem !important;
}

.eighth-container,
.sixth-container {
    width:50.5rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}



.sixthwrapper {
    margin-top: -3.4rem !important;
    margin-left: 2.5rem;
}




@media (max-width: 1400px) {  
      

.main-container2{
    margin-left:2.5rem;
}
.wrapper {
    display: flex;
    justify-content: center; /* Keep containers aligned to the left */
    align-items: flex-start; /* Align them at the top */
    gap: 1.2rem; /* Control the space between the two containers */
}

.first-container {
    width: 30rem; /* Fixed width */
    height: 100px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.second-container {
    width: 20rem; /* Fixed width */
    height: 380px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.swrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem;
    position: relative; /* Allows shifting from its original position */
    top: -18.6rem; /* Moves the .swrapper down by 20px */
    left: -10.5rem; /* Moves the .swrapper to the right by 50px */
    z-index: -1;
}


.third-container, .fourth-container {
    width: 14.5rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.twrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: 2rem;
    position: relative; /* Allows shifting from its original position */
    top: -21.7rem; /* Moves the .swrapper down by 20px */
    z-index: 1;
}


.fifth-container {
    width: 14rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.sixth-container {
    width:35.5rem;
    height: 268px;
    background-color: rgba(240, 240, 240, 0.1); /* 10% opacity */
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}  

.fwrapper {
    width: 52rem;
    margin-bottom: 0;
}
}
.water-intake-container {
    display: flex; /* Arrange chart and buttons in a row */
    justify-content: space-between; /* Space between the chart and buttons */
    align-items: center; /* Center items vertically */
    border: 0;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem; /* Add some space above */
    margin-right: 2.5rem;
    gap: 20px;
}
.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -1rem;
}


.first-container {
    display: flex !important;
    justify-content: space-between;
}

.first-container h2 {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: white;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
}


.text-section .welcome {
    font-size: 1.2rem;
    margin-top: 1rem !important;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: #ff9409;
}
 .text-section .name{
    font-size: 2rem;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    margin-top: -0.5rem !important;
    margin-left: 0.8rem !important;
    color: #ff9409;

}
.Ydata {
    font-size: 1.5rem;
    margin-top: 1rem !important;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: #ff9409;
    margin-left: 1rem;
}

.progress-section {
    margin-bottom: 1rem;
}

.data-header {
    display: flex;                /* Use Flexbox to align items horizontally */
    align-items: center;         /* Align items vertically in the center */
}

.Ydata {
    margin-right: 10px;          /* Add some space between the heading and the button */
}

.progress-section p {
    font-size: 1rem;
    margin-top: 1rem !important;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.progress-bar-container {
    margin-left: 1rem;
    border-radius: 20px;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    
}
.take{
    display: flex;                /* Use Flexbox to align items horizontally */
    align-items: center;         /* Align items vertically in the center */
}

.color-bar-calories {
    width: 200px;                /* Set the width of the bar */
    height: 10px;                /* Set the height of the bar */
    background-color: #E8471C ; /* Set the color of the bar */
    margin-left: 10px;           /* Add some space between the text and the bar */
    border-radius: 5px;      
    margin-left: 1rem;    /* Optional: give the bar rounded corners */
}

.color-bar-carb {
    width: 200px;                /* Set the width of the bar */
    height: 10px;                /* Set the height of the bar */
    background-color: #FF8500 ; /* Set the color of the bar */
    margin-left: 10px;           /* Add some space between the text and the bar */
    border-radius: 5px;      
    margin-left: 1rem;    /* Optional: give the bar rounded corners */
}

.color-bar-protien {
    width: 200px;                /* Set the width of the bar */
    height: 10px;                /* Set the height of the bar */
    background-color: #13103B ; /* Set the color of the bar */
    margin-left: 10px;           /* Add some space between the text and the bar */
    border-radius: 5px;      
    margin-left: 1rem;    /* Optional: give the bar rounded corners */
}

.color-bar-water {
    width: 200px;                /* Set the width of the bar */
    height: 10px;                /* Set the height of the bar */
    background-color: #246CD0 ; /* Set the color of the bar */
    margin-left: 10px;           /* Add some space between the text and the bar */
    border-radius: 5px;      
    margin-left: 1rem;    /* Optional: give the bar rounded corners */
}

.water-intake-section p,
.protein-intake-section p,
.carbs-intake-section p,
.calories-intake-section p{
    font-size: 1rem;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: #ffffff;
    margin-left: 1rem;

}

.water-intake-section ,
.protein-intake-section ,
.carbs-intake-section ,
.calories-intake-section {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;

}

.text-section {
    margin-top: 0.3rem;
}
.first-container .time {
    font-size: 3rem;
    margin-top: 1.5rem !important;
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: #ff9409;
}

.first-container img {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    border: 2px solid rgba(255, 255, 255, 0.39);
}

.data-header {
    
    z-index: 1;
}

.Update-button {
    margin-left: 17rem;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #246cd0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1b56a8;
}


input {
    width: 130px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
button, input {
    pointer-events: auto;
}



.wrapper1 {
    width: 500px;
    margin: 15px auto;
    margin-top: -80rem;
    padding: 0 15px;
    display: flex;
    flex-direction: column; /* Stack divs vertically */
    justify-content: center;
    align-items: center; /* Center-align items */
    text-align: center;
    color: white;
    border: white 2px solid;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    z-index: 5;
}

.hidden {
    display: none; /* Initially hide the div */
}
.wrapper1 div {
    width: 100%; /* Make each div take up the full width */
    margin-bottom: 10px; /* Add spacing between divs */
}
.wrapper1 form {
    width: 100%; /* Ensure form takes full width of the div */
    max-width: 400px; /* Limit the width of the form */
    margin: 0 auto;
    display: flex; /* Use flexbox to align input and button */
    justify-content: space-between; /* Ensure equal space between input and button */
    align-items: center; /* Align items vertically */
}

.wrapper1 form input {
    flex-grow: 1; /* Make input take the remaining space */
    margin-right: 10px; /* Add spacing between input and button */
    padding: 8px; /* Add padding for input */
    height: 40px; /* Set a fixed height for input */
}

.wrapper1 form button {
    padding: 8px 10px; /* Adjust padding for buttons */
    height: 40px; /* Set the same fixed height as the input */
    white-space: nowrap; /* Prevent button text from wrapping */
    margin: 0;
}


.wrapper1 h1 {
    font-size: 2rem; /* Increase font size */
    margin-bottom: 1rem; /* Add spacing below the heading */
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
}



.button-item {
    pointer-events: auto; /* Ensure buttons can receive clicks */
}

.button-item {
    pointer-events: auto; /* Ensure buttons can receive clicks */
}





.trainer-info {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.name-container {
    display: flex;
    flex-direction: column; /* Stack the names vertically */
}

.trainer-info img.pp {
    margin-left: 17.5rem; /* Add some space between the text and the image */
    width: 100px; /* Set the width for the image */
    height: 100px; /* Set the height for the image */
    object-fit: cover; /* Ensure the image fits nicely */
    border-radius: 20px; /* Make the image round */
    border:2px solid rgba(255, 255, 255, 0.39);
}

.name1 {
    font-size: 1.5rem; /* Increase font size */
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 1rem; /* Add some space between the image and the text */
    width: 80px;
}

.name2 {
    font-size: 1.5rem; /* Increase font size */
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 1.2rem; /* Add some space between the image and the text */
    width: 70px;

}

.weekly {
    font-size: 1rem; /* Increase font size */
    font-family: 'Protest Guerrilla', sans-serif;
    font-weight: 300;
    color: white;
    margin-left: 1rem; /* Add some space between the image and the text */
    width: 80px;
}

.ninth-containe img {
    margin-left: 5rem !important;
    margin-top: 1rem !important;

}

.ninth-containe input {
    margin-left: 5rem !important;
    margin-top: 1rem !important;
    width: 50%;
    
}

.ninth-containe button {
    margin-left: 5rem !important;
    margin-top: 0.6rem !important;
    width: 50%;
    background-color: #ff9409 !important;
    
}

.ninth-containe button:hover {
    background-color: #9e5e0b !important;
}



@media (max-width: 1200px) {  


    
    .wrapper1 {
        width: 700px;
        
    }

    

}