.wrapper3,
.wrapper2,
.wrapper1,
.wrapper {
    max-width: 900px;
    margin: 15px auto;
    margin-top: 7rem;
    padding: 0 15px;
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Add space between the items */
    text-align: center !important;
    color : white;
    overflow: hidden;
    backdrop-filter: blur(10px); /* Applies blur to background */
    background: rgba(255, 255, 255, 0.1); /* Transparent white background */
    border-radius: 20px

    
}

.title {
    font-size: 2.5rem; /* Font size (40px) */
    font-weight: 300; /* Font weight (300) */
    margin-bottom: 1.875rem; /* Margin bottom (30px) */
    color: #ff9409;
    font-family: "Protest Guerrilla", sans-serif;
    text-align: center;
} 


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: 0;
}


select,
input {
    width: 100%;
    padding: 0.625rem; /* Padding (10px) */
    margin-bottom: 0.9375rem; /* Margin bottom (15px) */
    border: 0.0625rem solid #ccc; /* Border (1px) */
    border-radius: 3.125rem; /* Border radius (50px) */
    box-sizing: border-box; /* Include padding in the width calculation */
    background-color: #ffffff00;
    color: #ffffff;
}

.password-container {
    position: relative;
    width: 100%;
}

.eye-icon {
    position: absolute;
    top: 40%; /* Center vertically */
    right: 0.625rem; /* Right (10px) */
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.125rem; /* Font size (18px) */
    color: #ff9409;
    z-index: 1;
}

option {
    border-radius: 20px;
    background-color: rgb(31, 30, 30);
    color: #fffefd;
}

.button-wrapper {
    display: flex;
    justify-content: space-between; /* Space between the buttons */
    align-items: center; /* Vertically align buttons if needed */
    width: 100%; /* Adjust the width as needed */
}


.submit,
.back,
.next {
    padding: 0.625rem 1.25rem; /* Padding (10px 20px) */
    background-color:#ff9409;
    color: #fff9f2;
    border: none;
    border-radius: 3.125rem; /* Border radius (50px) */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 70%;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.4); /* Box shadow */
    font-family: "Protest Guerrilla", sans-serif;
    font: size 2rem ;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-left: 30%;
}

.submit {
    margin: 0 !important;
    width: 100%;
}

.back {
    margin-left: 0 !important;
}

.submit:hover{
    background-color: #ffa228;
    
}
.back:hover,
.next:hover {
    background-color: #ff9409;
    transform: scale(1.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); /* Box shadow */
}


@media (max-width: 1200px) {  
    .wrapper3,
    .wrapper2,
    .wrapper1,
    .wrapper {
        width: 600px;      
    }

    
    

}