/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 30, 30);

    color: #333;
}

header {
    background-color: rgb(31, 30, 30);
    color: #ff9409;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
}

header h1{
    margin-top: 1rem;

}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

/* Main Content */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 98%;
}

form {
    width: 100%;
}

input[type="file"] {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.view-button {
    background-color: #5a7edb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.view-button:hover {
    background-color: #4e6cd1;
}
/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/* Table Styles for Approved Users Section */
section.approvedusers {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    text-align: left;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #343a40;
    color: #fff;
}



table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #f1f1f1;
}

select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 8px 16px;
    background-color: #ff9409;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.dietplan h2,
.add-dietplan  {
    color: #ff9409 !important;
    font-family: "Protest Guerrilla", sans-serif !important;
    font-weight: 400 !important;
}
button:hover {
    background-color: #d17c0e;
}

.dietimg {
    width: 400px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.diet-plan {
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 5px;
    padding-top: 5px;
}

.assign {
    background-color : #4CAF50;
}

.assign:hover {
    background-color : #45a049;
}

.user-requests {
    color: #f1f1f1;
}

.no-requests {
    color: #f1f1f1;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

.workouts h2{
    color: #ff9409;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

.workout {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(31, 30, 30);
    color: #f1f1f1;
    font-weight: bold   ;
}

.workout h3 {
    color: #ff9409;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}


.create-workout a{
    background-color: #ff9409;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}

.create-workout a:hover {
    background-color: #d17c0e;
}

.delete {
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.delete:hover {
    background-color: #d12c2c;
}

.user-requests {
    color: #000000;
}

.request{
    color: #ff9409;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
}

.approve {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 0.2rem;
}

.approve:hover {
    background-color: #45a049;
}

.decline {
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
}

.decline:hover {
    background-color: #d12c2c;
}