.wrapper2,
.wrapper1,
.wrapper {
    max-width: 900px;
    margin: 15px auto;
    margin-top: 7rem;
    padding: 0 15px;
    display: flex; /* Enable flexbox */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Add space between the items */
    color: white;
}

.wrapper h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: 'Protest Guerrilla', sans-serif;
    color: white;
}

.wrapper h2 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: white;
    
}

.wrapper {
    border-bottom: 4px solid #ff9409;
}

.wrapper2,
.wrapper1 {
    margin-top: 2rem !important;
}



form {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"],
input[type="url"],
textarea,
select {
    width: 99%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #ff9409;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #d17c0e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    color: black;
}
th {
    background-color: #f2f2f2;
}
img {
    max-width: 100px;
    max-height: 100px;
}

.form {
    border: none ;
    display: inline;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-danger:hover {
    background-color: #c82333;
}

@media (max-width: 1200px) {  

    .wrapper2,
    .wrapper1,
    .wrapper {
        width: 700px;
        
    }

    

}