{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Admin Home Page</h1>
    <ul>
        <li><a href="{{ url_for('storemanager.manage_store') }}">Manage Store</a></li>
        <li><a href="{{ url_for('trainerscontroller.manage_trainers') }}">Manage Trainers</a></li>
        <li><a href="{{ url_for('exercisescontroller.manage_exercises_categories') }}">Manage Exercise categories</a></li>
        <li><a href="{{ url_for('exercisescontroller.manage_exercises') }}">Manage Exercises</a></li>
        <li><a href="{{ url_for('recipescontroller.manage_recipes') }}">Manage Recipes</a></li>
        <li><a href="{{ url_for('challengecontroller.manage_challenges') }}">Manage Challenges</a></li>


    </ul>
</body>
{% endblock %}
