<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Home Page</title>
</head>
<body>
    <h1>Admin Home Page</h1>
    <ul>
        <li><a href="{{ url_for('store.manage_store') }}">Manage Store</a></li>
        <li><a href="{{ url_for('trainerscontroller.manage_trainers') }}">Manage Trainers</a></li>
        <li><a href="{{ url_for('exercisescontroller.manage_exercises_categories') }}">Manage Exercise categories</a></li>
        <li><a href="{{ url_for('exercisescontroller.manage_exercises') }}">Manage Exercises</a></li>
    </ul>
</body>
</html>
