<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apply.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/benchpresscalculator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bmrcalculator.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calender.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checkout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dietplan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dietplans.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editworkout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercise.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercises.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exercisesCategory.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/online_trainer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/order_details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/startheader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/storebody1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/storebody2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trainer_Homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workoutplan.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workouts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/workoutsCategory.css') }}">
    <link rel="icon" href="static/images/logo1.png" >
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <span>{{ message }}</span>
                        <button class="close" onclick="this.parentElement.remove();">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
    {% block content %}{% endblock %}
</body>
</html>
