<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Flash Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
    <link rel="icon" href="static/images/logo1.png" >
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        <span>{{ message }}</span>
                        <button class="close" onclick="this.parentElement.remove();">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
    {% block content %}{% endblock %}
</body>
</html>
