<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="static/images/logo1.png" >

</head>
<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class="wrapper2">
        {% if not session.cart %}
            <h1>Your Shopping Cart is Empty :(</h1>
            <p>Looks like you haven't added any items to your cart yet.</p>
            <p>Please <a href="{{ url_for('store.store') }}">Continue Shopping</a></p>
        {% else %}
            <h1>Your Cart</h1>
            <div class="cart">
                {% for product_id, item in session.cart.items() %}
                    <div class="product">
                        <div class="product-image">
                            <img src="{{ url_for('static', filename='uploads/productsimg/' ~ item['image']) }}" alt="{{ item['name'] }}">
                        </div>
                        <div class="product-details">
                            <div class="product-title">{{ item['name'] }}</div>
                            <div class="product-price">${{ item['price'] }}</div>

                            <div class="product-quantity">
                                <form action="{{ url_for('store.decrease_quantity', product_id=product_id|int) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="quantity-button-minus" data-product-id="{{ product_id|int }}">
                                        <lord-icon src="https://cdn.lordicon.com/dykoqszm.json" trigger="hover" colors="primary:#ff6f00,secondary:#ff6f00" style="width:40px;height:40px"></lord-icon>
                                    </button>
                                </form>
                            
                                <input type="number" value="{{ item['quantity'] }}" min="1" class="quantity-input" disabled>
                            
                                <form action="{{ url_for('store.increase_quantity', product_id=product_id|int) }}" method="POST" style="display:inline;">
                                    <button type="submit" class="quantity-button-plus" data-product-id="{{ product_id|int }}">
                                        <lord-icon src="https://cdn.lordicon.com/zrkkrrpl.json" trigger="hover" colors="primary:#ff6f00,secondary:#ff6f00" style="width:40px;height:40px"></lord-icon>
                                    </button>
                                </form>
                            </div>

                            <div class="product-removal">
                                <form action="{{ url_for('store.remove_from_cart', product_id=product_id) }}" method="POST">
                                    <button type="submit">
                                        <lord-icon src="https://cdn.lordicon.com/zxvuvcnc.json" trigger="hover" state="hover-cross-3" colors="primary:#c71f16" style="width:50;height:50"></lord-icon>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="wrapper1">
        {% if session.cart %}
            <div class="subtotal">
                <div class="subtotal-price">Total: ${{ total }}</div>
                <a href="{{ url_for('store.checkout') }}">
                <button class="checkout-button">Continue to Checkout</button>
                </a>
            </div>
        {% endif %}
    </div>    

    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
</body>
</html>