<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ dietplan['dietname'] }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/dietplan.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class="wrapper">
        <div>
            <h1 class = "diet-plan-title">{{ dietplan['dietname'] }}</h1>
        </div>
    </div>
    <div class="wrapper1">
        <div class="author-container">
            <img class="author-img" src="{{ url_for('static', filename='uploads/trainerspp/' ~ dietplan.profilepic) }}" alt="author">
            <div class="author-info">
                <p class="author-name">Written By: {{ dietplan['firstname'] }} {{ dietplan['lastname'] }}</p>
                <p class = "author-date">Speciality: {{ dietplan['specialty'] }}</p>
                <p class="author-date">Published on: {{ dietplan['publishdate'].strftime('%Y-%m-%d') }}</p>
            </div>

        </div>
        <img class = "diet-image"src="{{ url_for('static', filename='uploads/dietplans/' ~ dietplan['image']) }}" alt="">

    </div>
    
    <div class="wrapper3">
        <div class="description">
            <h3>{{ dietplan['description'] }}</h3>
        </div>
        <div class="core-principles">
            <h2>Core Principles</h2>
            <ul>
                {% for principle in dietplan['coreprinciples'].split(',') %}
                <li>{{ principle }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="timing-frequency">
            <h2>Meal Timing/Frequency</h2>
            <p>{{ dietplan['timingfrequency'] }}</p>
        </div>
        <div class="suited-for">
            <h2>Who Is It Best Suited For?</h2>
            <p>{{ dietplan['bestsuitedfor'] }}</p>
        </div>
        <div class="how-easy-to-follow">
            <h2>How Easy Is It To Follow?</h2>
            <p>{{ dietplan['easytofollow'] }}</p>
        </div>
        <div class="scientific-studies">
            <h2>Scientific Studies and Interpretation of Data</h2>
            <p>{{ dietplan['studies'] }}</p>
        </div>
    </div>    
    <script src="{{ url_for('static', filename='js/workout.js') }}"></script>
</body>
</html>
