<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/editworkout.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class = "wrapper">
        <h1> Here You can Add Days and Exercises for Dumbellel Workout Plan</h1>
    </div>

    <div class = "wrapper1"> 
        <h1> Please Enter A Day Name Then u can add exercises for the Day from the bottom </h1>
        <form id="dayform" action="{{ url_for('workoutdayscontroller.add_day', workout_id=workout_id) }}" method="POST">

            <label for="dayname">Day Name:</label>
            <input type="text" id="dayname" name="dayname" required>
        
            <label for="dayweek">Day In the Week:</label>
            <select id="dayweek" name="dayweek" required>
                <option value="" disabled selected>Select A Day</option>
                <option value="1">Saturday</option>
                <option value="2">Sunday</option>
                <option value="3">Monday</option>
                <option value="4">Tuesday</option>
                <option value="5">Wednesday</option>
                <option value="6">Thursday</option>
                <option value="7">Friday</option>
            </select>
        
            <button type="submit">Add Day</button>
        </form>
        

    </div>

    <div class = "wrapper2"> 
        <h1>Add Exercises for the Day You will select</h1>
        <form>
            <p>Days: {{ days }}</p>
            <label for="day">Select A Day By Name:</label>
            <select id="day" name="day" required>
                <option value="" disabled selected>Select A Day</option>
                
                {% for day in days %}
                    <option value="{{ day.DayID }}">{{ day.name }}</option>
                {% endfor %}
            </select>            
        
        
            <button type="submit">Add Exercise</button>
        </form>
        
        
    </div>    
    

    <script src="{{ url_for('static', filename='js/workoutplan.js') }}"></script>
</body>
</html>
