<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DashBoard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js -->
    <link rel="icon" href="static/images/logo1.png" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foodSearch.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %} 
    </header>
    
    <main class="main-container">
        {% include 'navbar.html' %}
    </main>
    <div class="main-container2">
        <div class="wrapper">
            <div class="first-container">
                <div class="text-section">
                    <h2 class= "welcome"style="margin:10px;">Welcome back </h2> 
                    <h2 class = "name">{{ user_data.firstname }}!</h2>
                </div>
                <h2 style="margin:10px;" id="current-time" class = "time"></h2> 

                <img class= "pp"src="{{ url_for('static', filename='uploads/userspp/' ~  user_data.profilepic) }}" alt="profile-pic">
               
                
                
            </div>
            <div class="second-container">
                <div class="data-header">
                    <h3 class="Ydata">Your Data</h3>
                    <button class="Update-button">Update</button>
                </div>
                
                <!-- User progress towards target weight -->
                <div class="progress-section">
                    <p>Progress towards target weight: {{ user_data.goalweight }}kg</p>
                    <div class="progress-bar-container" style="width: 350px; background-color: #ddd; height: 20px;">
                        <div class="progress-bar" style="width: {{ (user_data.weight / user_data.goalweight) * 100 }}%; background-color:#AB886D; height: 100%;border-radius: 20px;margin-top:0.3rem;"></div>
                    </div>
                </div>
            
                <!-- Water intake -->
                <div class="water-intake-section take">
                    <p>Water intake: {{ user_data.watergoal }}ml</p>
                    <div class="color-bar-water"></div>
                </div>
                
            
                <!-- Protein intake -->
                <div class="protein-intake-section take">
                    <p>Protein intake: {{ user_data.protiengoal }}g</p>
                    <div class="color-bar-protien"></div>
                </div>
            
                <!-- Carbs intake -->
                <div class="carbs-intake-section take">
                    <p>Carbs intake: {{ user_data.carbgoal }}g</p>
                    <div class="color-bar-carb"></div>
                </div>
            
                <!-- Calories intake -->
                <div class="calories-intake-section take">
                    <p>Calories intake: {{ user_data.caloriesgoal }}kcal</p>
                    <div class="color-bar-calories"></div>
                </div>
                <div class="trainer">
                    {% if trainer_data %}
                        <div class="text-container">
                            <h3 class="Ydata">Your Trainer</h3>
                            <div class="trainer-info">
                                <div class="name-container">
                                    <h3 class="name1">{{ trainer_data.firstname }}</h3>
                                    <h3 class="name2">{{ trainer_data.lastname }}</h3>
                                </div>
                                <img class="pp" src="{{ url_for('static', filename='uploads/trainerspp/' ~ trainer_data.profilepic) }}" alt="profile-pic">
                            </div>
                        </div>
                    {% else %}
                        <h3 style="margin-left: 15px; margin-top: 20px;">No trainer yet</h3>
                    {% endif %}
                </div>
                
                

                
            </div>
        </div>
        <div class="swrapper">
            <div class="third-container">
                
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin:auto; margin-top: 20px;">
                    <canvas id="CaloriesChart"></canvas>
                </div>
                <!-- Calories intake form -->
                               
            </div>
            <div class="fourth-container">
                
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin:auto; margin-top: 20px;">
                    <canvas id="CarbsChart"></canvas>
                </div>
                
                
            </div>
        </div>
        <div class="twrapper">
            <div class="fifth-container">
                
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin: auto; margin-top: 20px;">
                    <canvas id="ProtienChart"></canvas>
                </div>
                <!-- Protein intake form -->
                       
            </div> 
            <div class="sixth-container">
                <div class="water-intake-container">
                    <!-- Pie chart container -->
                    <div id="pie-chart-container" style="width: 200px; height: 200px; margin-left: 50px; margin-top: 20px; margin-right: 120px;" >
                        <canvas id="waterChart"></canvas>
                    </div>
                    <!-- Buttons with images and water amounts -->
                    <div id="addWaterButtons" class="button-container">
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                <input type="hidden" name="water_amount" value="250">
                            <lord-icon
                                src="https://cdn.lordicon.com/xjvaszos.json"
                                trigger="loop"
                                state="loop-cycle"
                                colors="primary:#697565,secondary:#7CF5FF"
                                style="width:100px;height:100px">
                            </lord-icon>
                            <button type="submit" class="submit-button">Submit 250ml</button>
                            </form>
                        </div>
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                    <input type="hidden" name="water_amount" value="500">
                                <lord-icon
                                    src="https://cdn.lordicon.com/yowvhtxf.json"
                                    trigger="loop"
                                    state="loop-cycle"
                                    colors="primary:#697565,secondary:#7CF5FF"
                                    style="width:100px;height:100px">
                                </lord-icon>
                                <button type="submit" class="submit-button">Submit 500ml</button>
                                </form>
                        </div>
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                <input type="hidden" name="water_amount" value="1000">
                            <lord-icon
                                src="https://cdn.lordicon.com/wyhrqibk.json"
                                trigger="loop"
                                state="loop-cycle"
                                colors="primary:#697565,secondary:#7CF5FF"
                                style="width:100px;height:100px">
                            </lord-icon>
                            <button type="submit" class="submit-button">Submit 1L</button>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>

        <div class = "fwrapper">
            <div class="seventh-container">
                
                <div id="chart-container" style="width: 800px; height: 400px; margin-left:1rem; padding-top: 20px">
                    <canvas id="IntakeChart"></canvas>

                    
                </div>
                <div class="stopwatch-container">
                    <div id="stopwatch">
                        <span id="time">00:00:00</span>
                    </div>
                    <div class="buttons-container">
                        <button class="stopbutton" id="startButton">Start</button>
                        <button class="stopbutton" id="resetButton">Reset</button>
                    </div>
                </div>
                
                
                                
            </div>
        </div>

        <div class="sixthwrapper">
            
            <div class="eighth-container" style="max-height: 400px; overflow-y: auto;">
                <h3 class="search">Search Food Item</h3>
                <input class="search-input" type="text" id="foodSearch" placeholder="Enter food name">
                <button id="searchButton" >Search</button>
                
            </div>
                     

            <div class="ninth-containe">
                <!-- Scale Image -->
                <img src="{{ url_for('static', filename='images/scale.png') }}" alt="Weight Scale" style="width: 160px; margin-bottom: 10px; margin: auto;">
                
                <!-- Weight Input -->
                    <input type="number" id="weight" name="weight" placeholder="Enter Your Weight in kg">
                    <div>
                    <button type="submit">Update Weight</button>
                    </div>
                </form>
            </div>  

        </div>

        <div class = "tenth-container">
            <div id="searchResults" style="margin-top: 30px; margin-left: 30px; margin-right: 30px; max-height: 200px; overflow-y: auto;">
                Nothing to display
            </div>
        </div>

        


        <div class="wrapper1 hidden">
            <h1>Update Your Progress</h1>
            <div>
                <form action="/update_calories" method="POST">
                    <input type="number" id="calories" name="calories" value="{{ user_data.caloriescurrent }}" min="1" max="10000">
                    <button type="submit" style="background-color:#FABC3F ; color:black ; font-weight:bold">Update Calories</button>
                </form>  
            </div>
            <div>
                <form action="/update_carbs" method="POST">
                    <input type="number" id="carbs" name="carbs" value="{{ user_data.carbcurrent }}" min="1" max="1000">
                    <button type="submit" style="background-color: #B6FFA1 ; color:black ; font-weight:bold">Update Carbs</button>
                </form>
            </div>
            <div>
                <form action="/update_protein" method="POST">
                    <input type="number" id="protein" name="protein" value="{{ user_data.protiencurrent }}" min="1" max="1000">
                    <button type="submit" style="background-color:#FF6363; color:black ; font-weight:bold">Update Protein</button>
                </form>    
            </div>  
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/foodSearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</body>
</html>