<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js -->
</head>
<body>

    <header>
        {% include 'header.html' %} 
    </header>
    
    <main class="main-container">
        {% include 'navbar.html' %}
    </main>

    <div class="main-container2">
        <div class="wrapper">
            <div class="first-container">
                {% if user_id %}  <!-- Check if the user ID exists -->
                    <h2>Welcome back, {{ user_name }}!</h2> <!-- Display user's name -->
                {% else %}
                    <h2>Welcome back!</h2>
                {% endif %}
            </div>
            <div class="second-container">
                <h3>User Data</h3>
                <p><strong>Trainer:</strong> 
                {% if assigned_trainer %}
                    {{ assigned_trainer.firstname }} {{ assigned_trainer.lastname }}
                {% else %}
                    No trainer assigned.
                {% endif %}
                </p>
                <p><strong>Protein Intake:</strong> {{ chart_data.protein }} grams</p>
                <p><strong>Carbohydrates Intake:</strong> {{ chart_data.carbs }} grams</p>
                <p><strong>Calories Intake:</strong> {{ chart_data.calories }} kcal</p>
                <p><strong>Water Intake:</strong> {{ chart_data.water_intake }} ml (Goal: {{ chart_data.total_water_goal }} ml)</p>
            </div>
        </div>
        <div class="swrapper">
            <div class="third-container">
                <p>
                    3
                </p>
            </div>
            <div class="fourth-container">
                <p>
                    4
                </p>
            </div>
        </div>
        <div class="twrapper">
            <div class="fifth-container">
                <p>
                    5
                </p>
            </div> 
            <div class="sixth-container">
                <p>
                    6
                </p>
            </div> 
        </div>

        <div class = "fwrapper">
            {% if assigned_trainer %}
                <div class="seventh-container">
                    <p>
                        7
                    </p>
                </div>
            {% endif %}

        </div>

        
        
    </div>

    
        
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
