<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>DashBoard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js -->
    <link rel="icon" href="static/images/logo1.png" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foodSearch.css') }}">
    <script src="{{ url_for('static', filename='js/foodSearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %} 
    </header>
    
    <main class="main-container">
        {% include 'navbar.html' %}
    </main>
    <div class="main-container2">
        <div class="wrapper">
            <div class="first-container">
                <div class="text-section">
                    <h2 class= "welcome"style="margin:10px;">Welcome back </h2> 
                    <h2 class = "name">{{ user_data.firstname }}!</h2>
                </div>
                <h2 style="margin:10px;" id="current-time" class = "time"></h2> <!-- This will display the current date -->

                <img class= "pp"src="{{ url_for('static', filename='uploads/userspp/' ~  user_data.profilepic) }}" alt="profile-pic">
               
                
                
            </div>
            <div class="second-container">
                <h3>User Data</h3>
                <!-- User progress towards target weight -->
                <div class="progress-section">
                    <p>Progress towards target weight: {{ user_data.weight }}kg</p>
                    <div class="progress-bar-container" style="width: 100%; background-color: #ddd; height: 20px;">
                        <div class="progress-bar" style="width: {{ (user_data.weight / 80) * 100 }}%; background-color: #4caf50; height: 100%;"></div>
                    </div>
                </div>
            
                <!-- Water intake -->
                <div class="water-intake-section">
                    <p>Water intake: {{ user_data.watergoal }}ml</p>
                </div>
            
                <!-- Protein intake -->
                <div class="protein-intake-section">
                    <p>Protein intake: {{ user_data.protiengoal }}g</p>
                </div>
            
                <!-- Carbs intake -->
                <div class="carbs-intake-section">
                    <p>Carbs intake: {{ user_data.carbgoal }}g</p>
                </div>
            
                <!-- Calories intake -->
                <div class="calories-intake-section">
                    <p>Calories intake: {{ user_data.caloriesgoal }}kcal</p>
                </div>

                <button class = "Update-button">Update</button>
            </div>
        </div>
        <div class="swrapper">
            <div class="third-container">
                <p style="margin:10px;">
                    Calories intake
                </p>
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin:auto;">
                    <canvas id="CaloriesChart"></canvas>
                </div>
                <!-- Calories intake form -->
                               
            </div>
            <div class="fourth-container">
                <p style="margin:10px;">
                    Carbs intake
                </p>
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin:auto;">
                    <canvas id="CarbsChart"></canvas>
                </div>
                
                
            </div>
        </div>
        <div class="twrapper">
            <div class="fifth-container">
                <p style="margin:10px;">
                    Protien intake
                </p>
                <div id="pie-chart-container" style="width: 200px; height: 200px; margin: auto;">
                    <canvas id="ProtienChart"></canvas>
                </div>
                <!-- Protein intake form -->
                       
            </div> 
            <div class="sixth-container">
                <div class="water-intake-container">
                    <!-- Pie chart container -->
                    <div id="pie-chart-container" style="width: 200px; height: 200px; margin-left: 25px; margin-top: 20px; margin-right: 45px;" >
                        <canvas id="waterChart"></canvas>
                    </div>
                    <!-- Buttons with images and water amounts -->
                    <div id="addWaterButtons" class="button-container">
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                <input type="hidden" name="water_amount" value="250">
                            <lord-icon
                                src="https://cdn.lordicon.com/yowvhtxf.json"
                                trigger="loop"
                                state="loop-cycle"
                                colors="primary:#2526,secondary:#246cd0"
                                style="width:100px;height:100px">
                            </lord-icon>
                            <button type="submit" class="submit-button">Submit 250ml</button>
                            </form>
                        </div>
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                    <input type="hidden" name="water_amount" value="500">
                                <lord-icon
                                    src="https://cdn.lordicon.com/yowvhtxf.json"
                                    trigger="loop"
                                    state="loop-cycle"
                                    colors="primary:#2526,secondary:#246cd0"
                                    style="width:100px;height:100px">
                                </lord-icon>
                                <button type="submit" class="submit-button">Submit 500ml</button>
                                </form>
                        </div>
                        <div class="button-item">
                            <form action="/update_water" method="POST">
                                <input type="hidden" name="water_amount" value="1000">
                            <lord-icon
                                src="https://cdn.lordicon.com/yowvhtxf.json"
                                trigger="loop"
                                state="loop-cycle"
                                colors="primary:#2526,secondary:#246cd0"
                                style="width:100px;height:100px">
                            </lord-icon>
                            <button type="submit" class="submit-button">Submit 1L</button>
                            </form>
                        </div>
                    </div>                    
                </div>
            </div>            
        </div>

        <div class = "fwrapper">
            <div class="seventh-container">
                <p style="margin:10px;"> 
                    Weekly progress:
                </p>
                <div id="chart-container" style="width: 600px; height: 400px; margin:auto; padding-top: 20px">
                    <canvas id="WorkoutChart"></canvas>
                </div>
            </div>
        </div>

        <div class="wrapper1 hidden">
            <h1>Update Your Progress</h1>
            <div>
                <form action="/update_calories" method="POST">
                    <input type="number" id="calories" name="calories" value="{{ user_data.caloriescurrent }}" min="1" max="10000">
                    <button type="submit" style="background-color:#E8471C">Update Calories</button>
                </form>  
            </div>
            <div>
                <form action="/update_carbs" method="POST">
                    <input type="number" id="carbs" name="carbs" value="{{ user_data.carbcurrent }}" min="1" max="1000">
                    <button type="submit" style="background-color: #FF8500">Update Carbs</button>
                </form>
            </div>
            <div>
                <form action="/update_protein" method="POST">
                    <input type="number" id="protein" name="protein" value="{{ user_data.protiencurrent }}" min="1" max="1000">
                    <button type="submit" style="background-color:#13103B">Update Protein</button>
                </form>    
            </div>  
        </div>


    </div>
    <div class="search-container">
        <h3>Search Food Item</h3>
        <input type="text" id="foodSearch" placeholder="Enter food name">
        <button id="searchButton" style="background-color:#E8471C">Search</button>
        <div id="searchResults"></div> <!-- To display search results -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
