<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/online_trainer.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <title>Available Trainers</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>
    
    <div class="trainers-list">
        <h1 class = "title">Available Trainers</h1>
        {% if trainers %}
            {% for trainer in trainers %}
                <div class="trainer-card">
                    <img class= "bannerimg"src="{{ url_for('static', filename='images/register_poster3.jpg') }}" alt="Abs Image">
                    <img class="pp" src="{{ url_for('static', filename='uploads/trainerspp/' ~ trainer.profilepic) }}" alt="Abs Image">

                    <h2>{{ trainer.firstname }} {{ trainer.lastname }}</h2>
                    <p><strong>Speciality:</strong> {{ trainer.specialty }}</p>
                    <p><strong>Experience:</strong> {{ trainer.experienceyears }} years</p>
                    <p><strong>Rating:</strong> {{ trainer.rating }}</p>
                    <p><strong>Bio:</strong> {{ trainer.bio }}</p>
                    <p><strong>Pay Rate:</strong> ${{ trainer.payrate }}/hour</p>
                    <p><strong>Resume:</strong> 
                        <a href="{{ url_for('static', filename='uploads/resumes/' ~ trainer.resume) }}" target="_blank">Download Resume</a>
                    </p>
                    
                    <!-- Add date inputs for start and end date -->
                    <form action="{{ url_for('trainer.request_trainer') }}" method="post">
                        <input type="hidden" name="trainer_id" value="{{ trainer.id }}">
                        
                        <label for="start_date">Start Date:</label>
                        <input type="date" name="start_date" required>

                        <label for="end_date">End Date:</label>
                        <input type="date" name="end_date" required>
                        
                        <button type="submit">Request Trainer</button>
                    </form>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>No trainers are available at the moment.</p>
        {% endif %}
    </div>
</body>
</html>
