<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/order_details.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        {% include 'header.html' %} 
    </header>
    
    <main class="main-container">
        {% include 'navbar.html' %}
    </main>

    <div class = "wrapper">
        
            <h1>Order Details</h1>
            <table>
                <tr>
                    <th>Order Detail ID</th>
                    <th>Product Image</th> <!-- New column for Product Image -->
                    <th>Product ID</th>
                    <th>Quantity</th>
                    <th>Price Per Item</th>
                </tr>
        
                <!-- Loop through order details and display them -->
                {% for detail in order_details %}
                <tr>
                    <td>{{ detail[0] }}</td> <!-- Order Detail ID -->
                    <td>
                        <img class="product-img" src="{{ url_for('static', filename='uploads/productsimg/' ~ detail[4]) }}" alt="author">
                    </td>
                    <td>{{ detail[1] }}</td> <!-- Product ID -->
                    <td>{{ detail[2] }}</td> <!-- Quantity -->
                    <td>{{ detail[3] }}</td> <!-- Price Per Item -->
                </tr>
                {% endfor %}
        
                <!-- Handle case where no order details are found -->
                {% if order_details|length == 0 %}
                <tr>
                    <td colspan="5">No details found for this order</td>
                </tr>
                {% endif %}
            </table>

            <div class="total-price">
                <h2>Total Price: ${{ order_total[0] }}</h2>
            </div>
         
    </div> 
</body>
</html>
