<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/recipes.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class = "wrapper">

        <div class = "recipes-banner">
           <img src="{{ url_for('static', filename='images/recipes.jpg') }}" alt="Abs Image">
           <h1>Healthy Recipes Database</h1>
           <p>Huge range of free recipes that teach you how to cook healthy food for your fitness goals that tastes amazing.</p>
        </div>  
    </div>

    <div class = "wrapper1">
        <div>
        <h1 >Recipe Categories</h1>
        <p>Eating for your fitness goal doesn't mean bland, tasteless food. Find delicious and easy to prepare recipes by meal type or diet preferences.</p>
        </div>
    </div>

    
    <div class="wrapper2">


        {% for recipe in recipes %}
        <div class="workout-category">
            <!-- Image -->
            <a href="{{ url_for('recipescontroller.recipe', recipe_id=recipe[0]) }}"><img src="{{ url_for('static', filename='uploads/recipe_images/' ~ recipe[4]) }}" alt="{{ recipe.recipename }} Image"></a>
            <!-- Recipe Name -->
            <h2>{{ recipe[2]}}</h2>
        </div>
        {% endfor %}

        

    </div>

    <div class = "wrapper3">
         <a href="{{ url_for('recipescontroller.manage_recipes') }}"  class="nav-link">Share Your Recipes</a>
    </div>

    <script src="{{ url_for('static', filename='js/workouts.js') }}"></script>
</body>
</html>