<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe[2] }} - Recipe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class="wrapper">
        <div>
            <h1 class="recipe-title">{{ recipe[2] }} Recipe</h1>
        </div>
    </div>

    <div class="wrapper1">
        <div class="author-container">
            <!-- Use the author image and info if available -->
            <img class="author-img" src="{{ url_for('static', filename='images/author_placeholder.jpg') }}" alt="author">
            <div class="author-info">
                <p class="author-name">Written By: {{ author[1] }}</p>
                <p class="author-date">Published on: {{ recipe[5] }}</p>
            </div>
        </div>
    </div>

    <div class="wrapper2">
        <img src="{{ url_for('static', filename='uploads/recipe_images/' ~ recipe[4]) }}" alt="{{ recipe[2] }} Image">
    </div>

    <div class="wrapper3">
        <div class="description">
            <h3>{{ recipe[6] }}</h3>
        </div>
    </div>

    <div class="wrapper4">
        <div class="prep-time">
            <img src="{{ url_for('static', filename='images/preptime.png') }}" alt="Prep Time Image">
            <div class="text-container">
                <h1>PREP TIME</h1>
                <h2>{{ recipe[7] }}</h2>
            </div>
        </div>

        <div class="cook-time">
            <img src="{{ url_for('static', filename='images/cooktime.png') }}" alt="Cook Time Image">
            <div class="text-container">
                <h1>COOK TIME</h1>
                <h2>{{ recipe[8] }}</h2>
            </div>
        </div>
    </div>

    <div class="wrapper5">
        <div class="ingredients">
            <h1>Ingredients</h1>
            <ul>
                {% for ingredient in recipe[9].splitlines() %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </div>    

        <div class="nutrition-facts">
            <h1>Nutrition Facts</h1>
            <ul>
                {% for fact in recipe[10].splitlines() %}
                <li>{{ fact }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="wrapper6">
        <div>
            <h1>Cooking Instructions</h1>
            <p>{{ recipe[11] }}</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/workout.js') }}"></script>
</body>
</html>
