<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/signin.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

    
</head>
<body>
    <img src="{{ url_for('static', filename='images/register_poster2.jpg') }}" alt="Register Image" class="background-image">

    <div class="center-container">
        
        <form class="login-form" method="POST" action="{{ url_for('signin.signin') }}">
            <h1><span class="welcome-text">Welcome back to</span> FIT PULSE</h1>
            
            <input type="email" id="email" name="email" placeholder="Email" class="input-field" required>
            
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Password" class="input-field" required>
                <span class="eye-icon" id="togglePassword">
                    <i class="fas fa-eye"></i>
                </span>
            </div>
            
            <button type="submit" class="login-button">Login</button>
            <a href="{{ url_for('signup.register') }}"class="create-account">Create New Account!</a>
        </form>
        
        
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
