<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tools</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/tools.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">

</head>
<body>

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class = "wrapper">
        <div class = "tools-banner">
           <img src="{{ url_for('static', filename='images/poster1.jpg') }}" alt="Abs Image">
           <h1>Tools & Calculators</h1>
           <p>Track your progress and measure your strength with these fitness tools and calculators.</p>
            
        </div>  
    </div>

    <div class = "wrapper1" >
        <div>
            <h1>Fitness Tools</h1>
            <p>Our fitness tools are designed to make it easy to calculate calorie requiements, macros, body fat percentage and strength goals.</p>
        </div>
    </div>

    <div class = "wrapper2">
        <div class = "tool">
            <a  href="{{ url_for('toolscontroller.benchpresscalculator') }}">
                <img src="{{ url_for('static', filename='images/bench-press-calculator.jpg') }}" alt="Abs Image"></a>
            <h2>Bench Press Calculator: Calculate Your 1 REP MAX (1RM)</h2>
            <p>The Muscle & Strength bench press calculator can be used to work out your approximate 1 REP MAX bench press. These figures are not 100% accurate, but it serves as a good guide!</p>
        </div>

       <div class = "tool">
        <a  href="{{ url_for('toolscontroller.bmrcalculator') }}">
            <img src="{{ url_for('static', filename='images/bmr-calculator.jpg') }}" alt="Abs Image"></a>
            <h2>BMR Calculator: Calculate Your Basal Metabolic Rate & Calorie Requirements</h2>
            <p>The basal metabolic rate (BMR) and calorie calculator is an excellent tool for estimating how many calories your body needs on a daily basis depending on the amount and intensity of your exercise regime.</p>
            
        </div>

       
    </div>

    

    <script src="{{ url_for('static', filename='js/exercises.js') }}"></script>
</body>
</html>
