<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trainer_Homepage.css') }}"> <!-- Link to your CSS file -->
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>
    {% include 'flash.html' %}

    <header>
        <h1>Welcome, {{ firstName }}</h1> <!-- Display trainer's first name -->
        <p>Your specialty: {{ specialty }}</p> <!-- Display trainer's specialty -->
        <p>Your payrate: {{ payrate }} $/hour</p> <!-- Display trainer's specialty -->
    </header>

    <main>
        {% if specialty == 'Nutrition Coach' %}
        <!-- Section for adding diet plans -->
        <section id="add-diet-plan">
            <h2 class = "add-dietplan">Add Diet Plan</h2>
            <form action="{{ url_for('dietplans.add_diet_plan') }}" method="POST" enctype="multipart/form-data"> <!-- Enable file upload -->
                <label for="diet_name">Diet Name:</label>
                <input type="text" id="diet_name" name="diet_name" required>
                
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="6" required></textarea>

                <label for="core_principles">Core Principles:</label>
                <textarea id="core_principles" name="core_principles" rows="6" required></textarea>

                <label for="timing_frequency">Timing Frequency:</label>
                <textarea id="studies" name="timing_frequency" rows="6" name="timing_frequency"></textarea>


                <label for="best_suited_for">Best Suited For:</label>
                <textarea id="studies" name="best_suited_for" rows="6" name="best_suited_for"></textarea>


                <label for="easy_to_follow">Is it Easy to Follow?</label>
                <input type="text" id="easy_to_follow" name="easy_to_follow" rows="6"required>

                <label for="studies">Related Studies:</label>
                <textarea id="studies" name="studies" rows="6"></textarea>

                <label for="image">Diet Plan Image:</label>
                <input type="file" id="image" name="image" accept="image/*">

                <button type="submit">Add Diet Plan</button>
            </form>
        </section>
        <!-- Section to show trainer's diet plans -->
        
        
        {% endif %}
        
        {% if specialty == 'Fitness Instructor' %}
        <!-- Section for adding workouts -->
        <section id="add-workout">
            <h2>Add Workout</h2>
        </section>
        {% endif %}

        {% if specialty == 'Nutrition Coach' %}
        <!-- Diet Plan Section -->
        <section class = "dietplan"id="your-diet-plans">
            <h2>Your Diet Plans</h2>
            {% for plan in diet_plans %}
            <div class="diet-plan">
                <img class = "dietimg"src="{{ url_for('static', filename='uploads/dietplans/' + plan.image) }}" alt="">

                <h3>{{ plan.dietname }}</h3>
                <p>{{ plan.description }}</p>
                <div>
                <form action="{{ url_for('dietplans.delete_diet_plan', plan_id=plan.dietplanid) }}" method="POST" style="display:inline;">
                    <button class = "delete"type="submit">Delete</button>
                </form>
                
                </div>
            </div>
            {% endfor %}
        </section>
        {% endif %}
        
        <!-- Section to display user requests -->
        {% if user_requests %}
        <section class= "user-requests"id="user-requests">
            <h2 class = "request">User Requests</h2>
            {% for request in user_requests %}
            <div class="user-request">
                <h3>Request from {{ request.firstname }} {{ request.lastname }}</h3>
                <p>Start Date: {{ request.StartDate }}</p>
                <p>End Date: {{ request.EndDate }}</p>
                <form action="{{ url_for('trainer.handle_request') }}" method="POST">
                    <input type="hidden" name="assignment_id" value="{{ request.AssignmentID }}">
                    <button class = "approve"type="submit" name="action" value="approve">Approve</button>
                    <button class = "decline"type="submit" name="action" value="decline">Decline</button>
                </form>                
            </div>
            {% endfor %}
        </section>
        {% else %}
        <p class = "no-requests">No user requests at the moment.</p>
        {% endif %}

        <section class = "workouts"id="your-workouts">
            <h2>Your Workouts</h2>
            {% for workout in workouts %}
            <div class="workout">
                <h3>{{ workout.workoutname }}</h3>
                <p>Main Goal: {{ workout.maingoal }}</p>
                <p>Training Level: {{ workout.traininglevel }}</p>
                <p>Days per Week: {{ workout.daysperweek }}</p>
                <p>Time per Workout: {{ workout.timeperworkout }}</p>
                <p>Equipment Required: {{ workout.equipmentrequired }}</p>
                <p>Target Gender: {{ workout.targetgender }}</p>
                <p>Supplements: {{ workout.supps }}</p>
                <p>Description: {{ workout.description }}</p>
            </div>
            {% endfor %}
        </section>  
        
        <section class="approvedusers">
            <table>
                <tr>
                    <th>Approved Users</th>
                    <th>Assign Workout</th>
                    <th>Nutrition Plan</th>
                    <th>Assign</th>
                    <th>Terminate User</th>
                    
                </tr>
                {% for user in users_accepted %}
                <tr>
                    <form action="{{ url_for('trainer.assign_workout_and_diet') }}" method="POST">
                        <td>
                            {{ user.firstname }} {{ user.lastname }}
                            <input type="hidden" name="userid" value="{{ user.userid }}">
                        </td>
                        <td>
                            <select name="workoutid">
                                <option value="" disabled selected>Select A Workout Please</option>

                                {% for workout in workouts %}
                                <option value="{{ workout.id }}">{{ workout.workoutname }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="dietplanid">
                                <option value="" disabled selected>Select A DietPlan Please</option>

                                {% for dietplan in all_diet_plans %}
                                <option value="{{ dietplan.dietplanid }}">{{ dietplan.dietname }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        
                        <td>
                            <button type="submit" class="assign">Assign</button>
                        </td>
                        
                    </form>
                    <td>
                        <form action="{{ url_for('trainer.terminate_user') }}" method="POST"> 
                            <input type="hidden" name="userid" value="{{ user.userid }}">
   
                            <button type="submit" class="terminate">Terminate</button>
                        </form>
                        
                    </td>

                    
                </tr>
                {% endfor %}
            </table>
        </section>
        
        <section class = "create-workout">
        <a href = "{{ url_for('workoutscontroller.workoutplan') }}"> Create A workout</a>
        <a href = "{{ url_for('logout.logout') }}"> Sign-out</a>
        </section>

        
    </main>



    <footer>
        <p>&copy; 2024 FitPulse. All rights reserved.</p>
    </footer>

</body>
</html>
