<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/workouts.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet">
    <link rel="icon" href="static/images/logo1.png" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class="wrapper">
        <div class = "workout-intro">
            <h1 >Workouts For Men</h1>
            <p >We have a huge range of free downloadable workouts for men designed by fitness experts and trainers. Find the best workout for your goal, experience, desired training style and equipment access.</p>
        </div>
    </div>

    <div class = "wrapper1">

        {% for workout in workouts %}
        <div class = "workout">
            <img src="{{ url_for('static', filename='uploads/workouts/' ~ workout.image) }}" alt="Exercise Image">
            
            <h2>{{workout.workoutname}}</h2>
            <p>{{workout.description}}</p>
            <a href="{{ url_for('workoutscontroller.view_workout', workout_id=workout['id']) }}" class="view-button">View workout</a>
        </div>

        {% endfor %}

        

        
    </div>

    

    <script src="{{ url_for('static', filename='js/workouts.js') }}"></script>
</body>
</html>
