<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{workout.workoutname}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/workout.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</head>
<body>
    {% include 'flash.html' %}

    <header>
        {% include 'header.html' %}
    </header>

    <main>
        {% include 'navbar.html' %}
    </main>

    <div class="wrapper">
        <div>
            <h1 class = "workout-title">{{workout.workoutname}}</h1>
        </div>
    </div>
    <div class = "wrapper1">
        <div class = "author-container">
            <img class="author-img" src="{{ url_for('static', filename='uploads/trainerspp/' ~ trainer.profilepic) }}" alt="author">
            <div class = "author-info">
                <p class = "author-name">Written By : {{trainer.firstname}} {{trainer.lastname}}</p>
                <p class = "author-date">Published on :  {{workout.publishdate}}</p>
            </div>
        </div>
    </div>

    <div class = "wrapper2">
        <div class = "workout-intro-description"> 
            <p> {{workout.description}}</p>
        </div>

        <div class = "workout-summary">
            <h2>Workout Summary</h2>

            <div class = "row">
                <h3 class = "property-title">Main Goal </h3>  
                <h3 class = " property-value">{{workout.maingoal}}</h3>
            </div>

        
            <div class = "row">
                <h3 class = "property-title">Training Level</h3>  
                <h3 class = " property-value">{{workout.traininglevel}}</h3>
            </div>

            <div class = "row">
                <h3 class = "property-title">Days Per Week</h3>  
                <h3 class = " property-value">{{workout.daysperweek}}</h3>
            </div>

            <div class = "row">
                <h3 class = "property-title">Time Per Workout</h3>  
                <h3 class = " property-value">{{workout.timeperworkout}}</h3>
            </div>

            <div class = "row">
                <h3 class = "property-title">Equipment Required</h3>  
                <h3 class = " property-value">{{workout.equipmentrequired}}</h3>
            </div>

            <div class = "row">
                <h3 class = "property-title">Target Gender</h3>  
                <h3 class = " property-value">{{workout.targetgender}}</h3>
            </div>

            <div class = "row">
                <h3 class = "property-title">Recommended Supps</h3>  
                <h3 class = " property-value">
                    {{workout.supps}}</h3>
            </div>

        </div>

    </div>

    <div class = "wrapper3">
        <div class = "workout-description">
            <h1>Workout Description</h1>
            <p>
                {{workout.longdescription}}
            </p>
        </div>
    </div>

    <div class = "wrapper4">
        <div class="workout-split">
            <h1>Workout Split</h1>
        
            <!-- Loop through each workout day -->
            {% for workout_day in workout_days.values() %}  <!-- .values() since workout_days is a dictionary -->
                <div class="Day">
                    <div class="day-title">
                        <h2>{{ workout_day['day_name'] }}</h2> <!-- Day name from backend -->
                    </div>
                    
                    <table class="workout-table">
                        <thead>
                            <tr>
                                <th>Exercise</th>
                                <th>Sets</th>
                                <th>Reps</th>
                                <th>Rest</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Loop through exercises in this day -->
                            {% for exercise in workout_day['exercises'] %}
                            <tr>
                                <td>{{ exercise['exercise_name'] }}</td>
                                <td>{{ exercise['sets'] }}</td>
                                <td>{{ exercise['reps'] }}</td>
                                <td>{{ exercise['resttime'] }} secs</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        </div>
        
        
    </div>


    


    <script src="{{ url_for('static', filename='js/workout.js') }}"></script>
</body>
</html>
